:root {
    --primary-color: #203024;
    --bg-color: #f8f9fa;
    --text-color: #333;
    --btn-bg: #5c5e5c;
    --btn-hover: #218838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0d0e0d;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    padding: 5px;
    margin-left: 30%;
    margin-right: 8%;
    width: 30%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.btn-logout {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.btn-logout:hover {
    background-color: #c82333;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para a lista de cursos */
.courses {
    padding: 20px;
    text-align: center;
}

.courses h2 {
    margin-bottom: 20px;
}

.courses-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.course-card img {
    max-width: 100%;
    border-radius: 10px;
}

.course-card .image {
    width: 60%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

#addCourseButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#addCourseButton:hover {
    background-color: var(--btn-hover);
}

.slick-slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    padding: 10px;
}

.slick-slide img {
    width: 100%;          
    height: 200px;         
    object-fit: cover;     
    border-radius: 10px;   
}

.slick-prev, .slick-next {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #555;
}

/* Adições para centralizar "Meus Cursos" e Lottie */
.meus-cursos {
    text-align: center;
    margin-top: 20px;
}

.lottie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottie-container p {
    margin-top: 15px;
    font-size: 16px;
    color: var(--text-color);
}

/* Adições para centralizar texto e Lottie */
.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px); 
    text-align: center; 
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    .slick-slider {
        padding: 0 10px;
    }

    .slick-slide img {
        width: 100%;         
        height: auto;        
        object-fit: contain; 
    }

    .slick-prev, .slick-next {
        padding: 5px;
        font-size: 14px;
    }
}

/* Media query para telas menores que 480px */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .search-bar {
        margin: 10px 0;
        width: 100%;
    }

    .user-info {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .btn-logout {
        margin-left: 0;
    }

    .slick-slider {
        padding: 0 10px;
    }

    .slick-slide img {
        width: 100%;         
        height: auto;        
        object-fit: contain; 
    }

    .slick-prev, .slick-next {
        padding: 5px;
        font-size: 14px;
    }

    .courses-grid {
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    .course-card {
        padding: 10px;
    }
}
